@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300&display=swap');

*{
    font-family: 'Times New Roman', Times, serif;
    color: blanchedalmond;
}
body{
    margin: 0;
    background-color: rgba(0, 255, 179, 0.312);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora{
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    background-color: rgba(15, 85, 143, 0.818);
    padding: 15px;
    border-radius: 32px;
    box-shadow: 6px 20px 10px black;

}

.calculator-display {
    font-size:xx-large;
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgb(194, 186, 186);
    border-radius: 32px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    box-shadow: 0px 0px 0px 10px rgb(92, 87, 87);
}

.keypad-button {    
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 32px;
    text-align: center;
    vertical-align:center;
    line-height: 60px;
    font-size: 1.5em;
    border: none;
    background-color: rgb(150, 104, 209);
    box-shadow: 5px 5px 10px -3px rgb(12, 11, 12), -5px -5px 15px 3px rgb(127, 90, 124);
}
.col-2{
    grid-column: span 2;
}




